[submodule ".devcontainer"]
	path = .devcontainer
	url = https://github.com/globe-swiss/phaenonet-functions-devcontainer.git
[submodule "maintenance"]
	path = maintenance
	url = https://github.com/globe-swiss/phaenonet-maintenance.git
