[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
codecov = "*"
deepdiff = "*"
pylint = "*"
black = "*"
flake8 = "*"
bandit = "*"
pytest-xprocess = "*"
mock = "*"
isort = "*"

[packages]
firebase-admin = "*"
numpy = "*"
dateparser = "*"
google-cloud-logging = "*"
sentry-sdk = "*"
jinja2 = "*"
envelopes = "*"
tinify = "*"
google-cloud-secret-manager = "*"
flask = "*"
google-cloud-tasks = "*"

[requires]
python_version = "3.9"
