[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
codecov = "*"
deepdiff = "*"
pylint = "*"
black = "==20.8b1"
flake8 = "*"
bandit = "*"
pytest-xprocess = "*"
mock = "*"

[packages]
firebase-admin = "*"
numpy = "*"
dateparser = "*"
pillow = "*"
google-cloud-logging = "*"

[requires]
python_version = "3.7"
