-i https://pypi.org/simple
blinker==1.8.2; python_version >= '3.8'
cachecontrol==0.14.0; python_version >= '3.7'
cachetools==5.3.3; python_version >= '3.7'
certifi==2024.6.2; python_version >= '3.6'
cffi==1.16.0; platform_python_implementation != 'PyPy'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
cloudevents==1.11.0
cryptography==42.0.8
dateparser==1.2.0; python_version >= '3.7'
deprecation==2.1.0
envelopes==0.4
firebase-admin==6.5.0; python_version >= '3.7'
flask==3.0.3; python_version >= '3.8'
functions-framework==3.8.0; python_version >= '3.5' and python_version < '4'
google-api-core[grpc]==2.19.1; python_version >= '3.7'
google-api-python-client==2.135.0; python_version >= '3.7'
google-auth==2.30.0; python_version >= '3.7'
google-auth-httplib2==0.2.0
google-cloud-appengine-logging==1.4.3; python_version >= '3.7'
google-cloud-audit-log==0.2.5; python_version >= '3.7'
google-cloud-bigquery==3.25.0; python_version >= '3.7'
google-cloud-core==2.4.1; python_version >= '3.7'
google-cloud-firestore==2.16.1; platform_python_implementation != 'PyPy'
google-cloud-logging==3.10.0; python_version >= '3.7'
google-cloud-pubsub==2.21.5; python_version >= '3.7'
google-cloud-secret-manager==2.20.0; python_version >= '3.7'
google-cloud-storage==2.17.0; python_version >= '3.7'
google-cloud-tasks==2.16.3; python_version >= '3.7'
google-crc32c==1.5.0; python_version >= '3.7'
google-resumable-media==2.7.1; python_version >= '3.7'
googleapis-common-protos[grpc]==1.63.2; python_version >= '3.7'
grpc-google-iam-v1==0.13.1; python_version >= '3.7'
grpcio==1.64.1; python_version >= '3.8'
grpcio-status==1.62.2; python_version >= '3.6'
gunicorn==22.0.0; platform_system != 'Windows'
httplib2==0.22.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
idna==3.7; python_version >= '3.5'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.4; python_version >= '3.7'
markupsafe==2.1.5; python_version >= '3.7'
msgpack==1.0.8; python_version >= '3.8'
numpy==2.0.0; python_version >= '3.9'
packaging==24.1; python_version >= '3.8'
proto-plus==1.24.0; python_version >= '3.7'
protobuf==4.25.3; python_version >= '3.8'
pyasn1==0.6.0; python_version >= '3.8'
pyasn1-modules==0.4.0; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pyjwt[crypto]==2.8.0; python_version >= '3.7'
pyparsing==3.1.2; python_version >= '3.1'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2024.1
regex==2024.5.15; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
rsa==4.9; python_version >= '3.6' and python_version < '4'
sentry-sdk==2.7.1; python_version >= '3.6'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
tinify==1.6.0
tzlocal==5.2; python_version >= '3.8'
uritemplate==4.1.1; python_version >= '3.6'
urllib3==2.2.2; python_version >= '3.8'
watchdog==4.0.1; python_version >= '3.8'
werkzeug==3.0.3; python_version >= '3.8'
