*Einladung zu PhaenoNet*

{{ nickname }} ({{ email }}) lädt Sie ein, bei PhaenoNet mitzumachen.

Möchten Sie uns helfen, mehr Daten zur jahreszeitlichen Entwicklung von Pflanzen zu sammeln, indem Sie Ihre eigenen Beobachtungen melden?
Wir freuen uns, Sie in unsere Community aufzunehmen!

Jetzt registrieren: https://app.phaenonet.ch/auth/register

Besuchen Sie die PhaenoNet Website für weitere Informationen und Beobachtungsanleitungen: https://www.phaenonet.ch

Bei Fragen und Anregungen zögern Sie nicht, mit uns Kontakt aufzunehmen: info@phaenonet.ch.

Freundliche Grüsse
Das PhaenoNet Team
