Hallo,
{{ nickname }} ({{ email }}) lädt Sie ein, bei PhaenoNet mitzumachen. Klicken Sie auf folgenden Link, um sich zu registrieren: https://app.phaenonet.ch/auth/register
Bei Fragen wenden Sie sich bitte an info@phaenonet.ch.

Freundliche Grüsse
Das PhaenoNet Team