*Invitation à rejoindre PhaenoNet*

{{ nickname }} ({{ email }}) vous invite à participer à PhaenoNet.

Souhaitez-vous partager vos propres observations phénologiques et nous aider à recueillir des données sur le développement saisonnier des végétaux ?
Bienvenue dans notre cercle d’observateurs !

S’inscrire : https://app.phaenonet.ch/auth/register

Visitez le site web de PhaenoNet et découvrez toutes sortes d’infos et des guides d'observation : https://www.phaenonet.ch

Pour toute question ou suggestion, contactez info@phaenonet.ch.

Meilleures salutations
PhaenoNet team
