Bonjour,
{{ nickname }} ({{ email }}) vous invite à participer à PhaenoNet. Veuillez cliquer sur le lien suivant pour vous inscrire: https://app.phaenonet.ch/auth/register
Pour toute question, veuillez contacter info@phaenonet.ch.

Meilleures salutations
PhaenoNet team