Buongiorno,
{{ nickname }} ({{ email }})  vi invita a partecipare a PhaenoNet. Cliccare sul seguente link per registrarsi: https://app.phaenonet.ch/auth/register
Se avete domande, per favore contattate info@phaenonet.ch.

Cordiali saluti
Il team di PhaenoNet