*Invito a PhaenoNet*

{{ nickname }} ({{ email }}) la invita a partecipare a PhaenoNet.

Vuole condividere le sue osservazioni fenologiche e aiutarci a raccogliere dati sullo sviluppo stagionale delle piante?
Un benvenuto nella nostra rete di osservatori!

Registrazione: https://app.phaenonet.ch/auth/register

Visitare il sito web di PhaenoNet e scoprire informazioni e istruzioni per l'osservazione: https://www.phaenonet.ch

Se ha domande o suggerimenti, contatti info@phaenonet.ch.

Cordiali saluti
Il team di PhaenoNet
